:host {
    display: grid;
    grid-template-columns: .68fr .32fr;
    direction: ltr;

    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

aside {
    background-color: var(--surface2);
    height: 100vh;

    display: grid;
    grid-template-rows: 1fr auto auto;
    position: sticky;
    top: 0;

    footer {
        display: grid;
        place-content: center;
    }
}

section {
    --imageSize: calc(var(--min-image-size) / 2);
    --imagePosition: calc(var(--imageSize) / 2);
    --backgroundImageUrl: url('/icon-line.svg');
    background-image: var(--backgroundImageUrl);
    background-size: var(--imageSize) var(--imageSize);
    background-position: var(--imagePosition) var(--imagePosition);

    display: grid;
    grid-template-rows: 1fr auto;

    footer {
        display: flex;
        gap: 1ch;
        position: sticky;
        bottom: 0;
        align-items: center;
    }
}

header,
footer {
    padding: 1ch 2ch;
    background-color: var(--surface2);
}


.buttons-bar {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 1ch;
    align-items: center;
}