<section>

    <div>
        <div style="padding: 2ch 1ch;" class="image-list" [dir]="dir()" cdkDropList
            (cdkDropListDropped)="imgArrService.moveImage($event)" cdkDropListOrientation="mixed">
            <div class="image-item" style="cursor: unset; ">
                <div class="direction-page">
                    <button class="button large" (click)="toggleDir()">
                        Read direction <br>
                        {{dir() =="ltr" ? "Left to right ➡️":"Right to left ⬅️"}}</button>
                </div>
            </div>

            @for (img of imgArrService.imageList(); track $index) {
            <figure cdkDrag [cdkDragDisabled]="!isMoveable" class="image-item">
                <img loading="lazy" [src]="img.src" [alt]="img.name | truncate" [title]="img.sha256" />
                <figcaption dir="ltr">
                    <span class="title-item">{{img.name | truncate}}</span>
                    <button class="delete-item-btn button delete small"
                        (click)="imgArrService.removeImage(img.sha256)">🗑️</button>
                    <button class="split-item-btn button small"
                        (click)="imgArrService.split($index, dir())">Split</button>
                </figcaption>
            </figure>
            }

            <div class="image-item" style="cursor: unset;  ">
                <div class="add-page">
                    @if(isBrowser){<app-file-change title="Add pages (Ctrl+O)"/>}
                </div>
            </div>
        </div>

    </div>
    <footer>
        
        <button [disabled]="imgArrService.imageList().length==0" class="button small"
            (click)="imgArrService.sortByName()">Auto Sort</button>
            <label for="isMoveable">Moveable</label>
            <input type="checkbox" [(ngModel)]="isMoveable" id="isMoveable">
        <small>{{imgArrService.imageList().length}} Pages</small>
        <input style="margin-left: auto;" type="range" #range [min]="128" [max]="256" [step]="1"
            [value]="minImageSize()" (input)="setMinSize($event)">
    </footer>

</section>

<aside>
    <div style="padding: 1ch;display: flex; flex-direction: column; height: 100%; overflow: auto;">
        <h4>History

            <div class="buttons-bar">
                <button [disabled]="imgArrService.cm.history.length == 0" class="button small" (click)="imgArrService.undo()" title="Undo (Ctrl+Z)">↩️</button>
                <button [disabled]="imgArrService.cm.undoneCommands.length == 0" class="button small" (click)="imgArrService.redo()" title="Redo (Ctrl+Shift+Z)">↪️</button>
            </div>
        </h4>
        <div
            style="overflow-y: auto; flex-grow: 1; min-height: 100px; font-family: 'Courier New', Courier, monospace; display: flex; flex-wrap: wrap; gap: 1ch; align-items: start; align-content: baseline;">
            @for (h of imgArrService.cm.history; track $index) {
            <small (click)="undo($index)" style="border: 1px dashed; padding: .5ch; border-radius: .5ch;">{{h}}</small>
            } @for (h of imgArrService.cm.undoneCommands.reverse(); track $index) {
            <small (click)="redo($index)" style="opacity: .5 ; border: 1px dashed #8881; padding: .5ch;">{{h}}</small>
            }

        </div>
    </div>

    <div style="padding: 1ch; display: flex; flex-direction: column; height: 100%; overflow: auto;">
        <h4>Comic Info</h4>

        <app-comic-info [manga]="(dir() =='ltr') ?'No':'Yes'" [disabled]="imgArrService.imageList().length==0" />
    </div>

    <footer>
        <button [disabled]="imgArrService.imageList().length==0" class="button large primary"
            (click)="imgArrService.downloadZip()" title="Save (Ctrl+S)">Save CBZ</button>
    </footer>

</aside>